#home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.512), rgba(0, 0, 0, 0.519)),
    url("./images/group.jpeg");
  background-size: cover;
  background-position: bottom center;
  position: relative;

  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;

    // bu üstteki ikisi elementimizin başlangıç pikselini ortalar
    // bize ise başlangıç değil elementin ortasının ortalaması gerekir
    // dolayısıyla elementimizin yarısı kadar geri ve yukarı gitmemiz gerekir.

    transform: translate(-50%, -50%);
    width: 70%;

    h5 {
      color: $main-color;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 6px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: $h1-font;
      line-height: 1.2;
      margin-bottom: 20px;
      font-weight: bold;
      @include tablet {
        font-size: $h2-font;
      }
    }

    p {
      font-size: $p-font;
      font-weight: 500;
      color: $gray;
      margin-bottom: 40px;
    }

    button {
      @include button;
    }
  }
}
