// Mixin

@mixin button {
  padding: 15px 40px;
  display: inline-block;
  background-color: $main-color;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  color: $text-color;
  cursor: pointer;
  @extend .transition;

  &:hover {
    border: 2px solid white;
    background-color: transparent;
    transform: translateX(10px);
  }
}

// ^ Responsive Tasarım Kırılma Noktaları

@mixin laptop {
  @media (max-width: 1300px) {
    @content; // @content, kullanıcı bu mixine istediği css özelliğini verebilir anlamına gelir.
  }
}
@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mini-tablet {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 500px) {
    @content;
  }
}
